/* Reset start */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;  
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover, a:active{
  text-decoration: none;
}

button{
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
  
img {
  max-width: 100%;
}

*:focus {
  outline: none;
}

input{
  padding: 0;
  margin: 0;
}
/* Reset end */

/* --Default styles */

body{
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.text-center{
  text-align: center;
}

.text-uppercase{
  text-transform: uppercase;
}

.default-section{
  padding: 140px 0;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.row{
  margin: 0 -15px;
}

.row::after{
  content:"";
  display: block;
  clear:both;
}

.container .row + .row{
  margin-top: 105px;
}

.default-text{
  font-size: 15px;
  line-height: 26px;
}

.title{
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  letter-spacing: 9px;
  color: #111;
  margin-bottom: 75px;
}

.col{
  float: left;
  padding: 0 15px;
}

.col-1{
  width: 8.333333%;
}

.col-2{
  width: 16.6666666%;
}

.col-3{
  width: 25%;
}

.col-4{
  width: 33.333333%;
}

.col-5{
  width: 41.6666666%;
}

.col-6{
  width: 50%;
}

.col-7 {
  width: 58.333333333%;
}
  
.col-8 {
  width: 66.66666666%;
}
  
.col-9 {
  width: 75%;
}
  
.col-10 {
  width: 83.333333333%;
}
  
.col-11 {
  width: 91.666666667%;
}

.col-12{
  width: 100%;
}

.m-auto{
  margin-left: auto;
  margin-right: auto;
  float:none;
}

.bg-black{
  background-color: #111;
}

.reviews.bg-black{
  background-color: #020202;
}
/* --Custom styles */

/* -- #HEADER START-- */
.top-menu{
  padding: 25px 30px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
  color:#fff;
}

.logo{
  float:left;
}

.logo span{
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 4px;
  border-bottom: 1px solid #fff;
}

.logo span::before{
  content: url('../img/mountains.png');
  padding-right: 10px;
}

.menu-nav{
  float:right;
}

.menu-nav li{
  float: left;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 3px;
}

.menu-nav li + li{
  margin-left: 35px;
}
/* -- #HEADER END -- */

/* -- #MAIN START -- */
/* -- START START -- */
.start{
  background: url('../img/background-min.jpg') no-repeat center/cover;
  height: 100vh;
  position: relative;
}

.start-title h1{
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  letter-spacing: 50px;
  line-height: 26px;
  white-space: nowrap;
}

.start-content{
  margin: auto;
  color: rgba(254, 254, 254, .9);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 325px;
}

.start-subtitle h6{
  font-weight: lighter;
  font-size: 19px;
  line-height: 19px;
}

.start-title{
  margin-bottom: 100px;
}

.start-logo{
  position: absolute;
  bottom: 35px;
  left: 50%;
  display: inline-block;
  transform: rotate(45deg);
  width: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
}

.start-logo > *{
  transform: rotate(-45deg) translateY(30%);
}
/* -- START END -- */

/* -- ABOUT-STUDIO START -- */
.about-studio .row{
  display:flex;
  justify-content: space-between;
}

.about-studio .col{
  float:none;
}

.about-studio div.blockquote{
  width:33%;
}

.about-studio .p-section{
  display:flex;
  justify-content: space-between;
  width:67%;
}

.about-studio .p-section div{
  width: 50%;
}

.about-studio .p-section div.p:last-child{
  margin-left: 60px;
}

blockquote p{
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 33px;
}

blockquote span{
  font-size: 11px;
  line-height: 38px;
  letter-spacing: 2px;
}

.item-photo{
  margin-bottom: 30px;
  position: relative;
  height: 450px;
  perspective: 2000px;
}

.item-photo:hover .item-front{
  transform: rotateY(180deg);
}

.item-photo:hover .item-skills{
  transform: rotateY(360deg);
}

.container-for-flip{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: all .8s ease;
  max-width:370px;
  margin:auto;
}

.item-name, .item-role{
  display: block;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 6px;
}

.item-role{
  font-size: 12px;
  letter-spacing: 5px;
}

.about-studio{
  border-bottom: 1px solid rgba(19, 19, 19, 0.08)
}

.item-skills{
  background-color: #131313;
  text-align: left;
  padding: 40px;
  transform: rotateY(180deg);
}

.skills-title{
  color: #fff;
  font-family: 'Dosis';
  font-size: 18px;
  letter-spacing: 5.4px;
  margin-bottom: 30px;
}

.skills-text{
  margin-bottom:45px;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, .5);
}

.skill span{
  font-size: 11px;
  color: rgba(255, 255, 255, .9);
  letter-spacing: 2.2px;
  line-height: 11px;
  margin-bottom: 7px;
}

.skill .progress-bar{
  position: relative;
  width: 100%;
  height: 12px;
  background-color: rgba(204, 204, 204, .15);
}

.container-for-flip .skill{
  margin-bottom: 10px;
}

.skill .progress{
  position: absolute;
  left:0;
  top: 0;
  height: 100%;
  background-color: #cdcdcd;
} 
/* -- ABOUT-STUDIO END -- */

/* -- SERVICES START -- */

.services-tab-icon{
  font-size: 48px;
}

.services .tabs ul{
  margin-bottom: 70px;
  overflow: hidden;
}

.services .tabs ul li{
  float:left;
  width: 20%;
  font-size: 14px;
  letter-spacing: 6px;
  color: #111;
  opacity: 0.5;
}

.services .tabs ul li.ui-state-active{
  opacity: 1;
}

.services .tabs ul span{
  display: block;
}

.services .tabs ul li span:last-child {
  margin-top: 30px;
}

.container .tabs .row + .row{
  margin-top: 0;
}
/* -- SERVICES END -- */

/* --BANNER START -- */
.banner{
  position: relative;
}

.banner-img{
  position:absolute;
  top: -35px;
}

.banner .title-light-white{
  margin-bottom: 30px;
}

.banner p{
  color: rgba(255, 255, 255, .7);
  margin-bottom: 43px;
}
/* -- BANNER END -- */

/* -- PORTFOLIO  START-- */
.portfolio .row p{
  margin-bottom: 85px;
}

.portfolio .tabs ul{
  margin-bottom: 50px;
  overflow: hidden;
}

.portfolio .tabs ul li{
  float:left;
  width: 25%;
  font-size: 13px;
  letter-spacing: 5.2px;
  color: #111;
  opacity: 0.5;
}

.portfolio .tabs ul li.ui-state-active{
  opacity: 1;
}

.portfolio-images{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 695px;
  margin:0 -4px 4px -4px;
}

.container-full{
  padding:140px 0 0 0;
  width:100%;
  overflow: hidden;
}

.portfolio-images img{
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.portfolio-images a:hover img{
  -webkit-filter: none;
  filter: none;
}

.portfolio-images div.col{
  padding:4px;
  margin-bottom:0;
}

/* -- PORTFOLIO END -- */

/* -- CREATIVE-WORKS START -- */
.creative-works-content{
  padding: 70px 0;
  margin: auto;
}
.creative-works-content .title-light-white{
  margin-bottom: 25px;
}

.btn-lg{
  padding: 15px 40px;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #111;
  background-color: rgba(207, 207, 207, .8);
}

/* -- CREATIVE-WORKS END -- */

/* -- BENEFITS START -- */
.benefits h3.title{
  margin-bottom: 0;
}

.benefits-item{
  margin-top: 85px;
}

.benefits-icon{
  font-size: 48px;
  letter-spacing: 24px;
  color: #111;
  margin-bottom: 35px;
}

.benefits-item-title{
  display: block;
  font-family: 'Dosis', sans-serif;
  color: #111;
  font-size: 14px;
  letter-spacing: 5.6px;
  margin-bottom: 35px;
}

.benefits-text{
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}
/*  -- BENEFITS END -- */

/* -- REVIEWS START -- */
.reviews{
  overflow: hidden;
}

.reviews-wrapper .icon-quote{
  color: #fff;
  font-size: 32px;
  margin-bottom: 22px;
}

.reviews-wrapper .title-light-white{
  margin-bottom: 40px;
}

.title-light-white{
  color:#fff;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 5.4px;
}

.reviews-wrapper{
  max-width: 730px;
  margin: auto;
}

.reviews-wrapper .reviews-text{
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  margin: 0 auto 25px auto;
}

.rewiews-author{
  color: rgba(255, 255, 255, 0.30);
  line-height: 38px;
  font-size: 11px;
  letter-spacing: 1px;
}

.reviews-carousel{
  position:relative;
}

.slick-dots{
  position:absolute;
  bottom: 30px;
  left: auto;
}

.slick-dots li button{
  background-color: #ccc;
  border: 1px solid #ccc;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  color: transparent;
}

.slick-dots li button:before{
  font-family: 'slick';
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: transparent;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button{
  width: 9px;
  height: 9px;
  background-color: transparent;
}

.slick-arrow{
  position:absolute;
  top: 50%;
  height: 100%;
  width: 90px;
  z-index: 1;
  cursor: pointer;
}

.slick-arrow.slick-prev{
  left: 0;
}

.slick-arrow.slick-next{
  right: 0;
}

.slick-arrow .carousel-button{
  position: absolute;
  top: 50%;
  background-color:#fff;
  width:63px;
  height:63px;
  transform: rotate(45deg);
}

.slick-prev::before, .slick-next::before{
  content: none;
}

.slick-arrow.slick-next .carousel-button {
  right:-32px;
}

.slick-arrow.slick-prev .carousel-button {
  left:-32px;
}

.slick-arrow .carousel-button .fa{
  position: absolute;
  transform: rotate(-45deg);
  font-size: 14px;
  color:#222;
}

.slick-arrow.slick-next .carousel-button .fa{
  top: 38px;
  left: 15px;
}

.slick-arrow.slick-prev .carousel-button .fa{
  bottom: 38px;
  right: 15px;
}
/* -- REVIEWS END -- */

/* -- NEWS START -- */
a.news-block{
  font-size: 11px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  float: right;
  line-height: 23px;
  letter-spacing: 4.4px;
  color: #999;
}

.news-img{
  margin-bottom:25px;
  line-height: 0px;
}

.news-item img{
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.news-item a:hover img{
  -webkit-filter: none;
  filter: none;
}

.news-title{
  margin-bottom: 17px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 15px;
}

.news-author{
  margin-bottom: 23px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing:4.4px;
}

.btn{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-radius: 2px;
  cursor:pointer;
  line-height: 1px;
  font-size: 14px;
  text-transform: uppercase;
}

.news-item .btn{
  margin-top:25px;
}

.btn-small{
  padding: 8px 15px;
  font-size: 11px;
  letter-spacing: 2px;
}

.btn-gray{
  background-color: #e5e5e5;
  color: #777;
}
/* -- NEWS END -- */

/* -- NEWSLETTER START -- */
.newsletter{
  background-color: #f8f8f8;
}

.newsletter-content{
  padding: 80px 0 85px 0;
}

.newsletter-title{
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4.8px;
  color: #111;
}

.newsletter form{
  padding: 20px 0;
  margin: auto;
}

.newsletter input{
  height:35px;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 2.4px;
  line-height: 26px;
  border: 1px solid;
  border-radius: 2px;
}

.newsletter input[type=email]{
  width:295px;
  border-color: rgba(1, 1, 1, .1);
  padding-left: 13px;
}

.newsletter input[type=submit]{
  width:130px;
  border-color: rgba(1, 1, 1, .8);
  background-color: rgba(1, 1, 1, .8);
  color:#fff;
  cursor: pointer;
}

.newsletter-content i{
  font-size: 12px;
  color: #aaa;
  line-height: 26px;
}

.newsletter-content span{
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #aaa;
  line-height: 26px;
}
/* -- NEWSLETTER END -- */

/* -- CONTACT START -- */
.block-icon{
  display: inline-block;
  transform: rotate(45deg);
  width: 30px;
  line-height: 30px;
  border-radius: 2px;
  background-color: #111;
  text-align: center;
  color:#fff;
}

.block-icon > *{
  transform: rotate(-45deg);
}

.block-icon .fa-phone{
  transform: rotate(-45deg) scaleX(-1);
}

.item-content{
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.item-content .cont-title{
  font-family:'Dosis', sans-serif;
  font-size: 12px;
  letter-spacing: 3.6px;
  margin-bottom: 5px;
}

.item-content .cont-data{
  font-family:'Open Sans', sans-serif;
  font-size: 15px;
  color:#444;
  line-height: 24px;
}

.contact-items{
  margin-bottom: 80px;
}

.form-row{
  margin: 0 -5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.form-col{
  float:left;
  width:50%;
  padding:0 5px;
}

.form-control{
  width: 100%;
  height: 36px;
  padding: 0 14px;
  font-family:'Open Sans', sans-serif;
  font-weight:400;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid;
  border-color: rgba(1, 1, 1, .1);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #777;
}

input.form-control + input.form-control{
  margin-top: 10px;
}

textarea.form-control{
  height: 82px;
  resize: none;
  padding: 5px 14px 0 14px;
}

.btn-submit{
  border-color: rgba(1, 1, 1, .8);
  background-color: rgba(1, 1, 1, .8);
  color:#fff;
  line-height: 26px;
  width: 182px;
  text-align: center;
  padding: 5px 0 0 0;
}

.contact-form span{
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #aaa;
  line-height: 26px;
}

.contact-form i{
  font-size: 12px;
  color: #aaa;
  line-height: 26px;
}

.contact-form .submit-text{
  float:left;
}

.contact-form .submit-button{
  float:right;
}
/* -- CONTACT END -- */

/* -- MAP START -- */
#map{
  max-width: 1600px;
  overflow:hidden;
  margin: 0 auto;
}

.map-container{
  position: relative;
  height:410px;
  margin: 0 auto;
}

.container-for-cover{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.front-side{
  background: rgba(17, 17, 17, .95);
  padding: 165px 0;
}

.map-container:hover .front-side{
  display: none;
}

.map-icon{
  display: inline-block;
  transform: rotate(45deg);
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  color:#222;
  margin-bottom: 28px;
}

.map-title i{
  font-size: 14px;
  line-height: 30px;
}

.map-icon > *{
  transform: rotate(-45deg);
}

.map-title{
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 4.8px;
}

.inner-front-container{
  max-width: 180px;
  margin: auto;
}
/* -- MAP END -- */

/* -- #FOOTER START -- */
.footer-content{
  padding: 140px 0 60px 0;
}

.footer-logo{
  margin-bottom: 24px;
}

.footer-icon{
  display: inline-block;
  transform: rotate(45deg);
  width: 25px;
  height:25px;
  border: 1px solid;
  border-color: rgba(17, 17, 17, .9);
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  color:#111;
  margin-bottom: 110px;
}

.footer-icon > *{
  transform: rotate(-45deg);
  font-size: 14px;
}

.footer-icon + .footer-icon{
  margin-left:15px;
}

.copyright-title{
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 6px;
  color:#111;
}

.copyright-subtitle{
  font-weight:400;
  font-size:11px;
  line-height: 24px;
  color: #999;
}

#up-btn{
  width: 0; 
  height: 0;
  border: 20px solid transparent;
  border-bottom: 20px solid #c6c6c6;
  border-radius:3px;
  position: fixed;
  right:30px;
  bottom: 30px;
}
/* -- #FOOTER END -- */

#header .slicknav_menu {
  display: none;
  font-size: 16px;
  box-sizing: border-box;
  background: transparent;
  padding: 5px;
  float: right;
}

.slick_nav{
  color: rgba(254, 254, 254, .9);
  width: 100px;
}

.slicknav_btn{
  background-color: transparent;
}

@media(max-width: 1550px){

.portfolio-images{
  height: 500px;
}
}

@media(max-width: 1430px){

.portfolio .tabs ul li{
  float: none;
  margin: 0 auto 25px auto;
  width: 50%;
}
}

@media(max-width: 1200px){

.col{
  margin-bottom:30px;
}
  
.col-lg-1{
  width: 8.333333%;
}

.col-lg-2{
  width: 16.6666666%;
}

.col-lg-3{
  width: 25%;
}

.col-lg-4{
  width: 33.333333%;
}

.col-lg-5{
  width: 41.6666666%;
}

.col-lg-6{
  width: 50%;
}

.col-lg-7 {
  width: 58.333333333%;
}
  
.col-lg-8 {
  width: 66.66666666%;
}
  
.col-lg-9 {
  width: 75%;
}
  
.col-lg-10 {
  width: 83.333333333%;
}
  
.col-lg-11 {
  width: 91.666666667%;
}

.col-lg-12{
  width: 100%;
}

#header .slicknav_menu {
	display:none;
}
}

@media(max-width: 1100px){
    
.col-big-1{
  width: 8.333333%;
}
  
.col-big-2{
  width: 16.6666666%;
}
  
.col-big-3{
  width: 25%;
}
  
.col-big-4{
  width: 33.333333%;
}
  
.col-big-5{
  width: 41.6666666%;
}
  
.col-big-6{
  width: 50%;
}
  
.col-big-7 {
  width: 58.333333333%;
}
    
.col-big-8 {
  width: 66.66666666%;
}
    
.col-big-9 {
  width: 75%;
}
    
.col-big-10 {
  width: 83.333333333%;
}
    
.col-big-11 {
  width: 91.666666667%;
}
  
.col-big-12{
  width: 100%;
}

.portfolio-images{
  height:400px;
}

.reviews-wrapper{
  max-width: 680px;
}

.banner-img{
  position:relative;
  top:60px;
}

.banner{
  text-align: center;
}
}

@media(max-width: 991px){
  
.col-md-1{
  width: 8.333333%;
}
  
.col-md-2{
  width: 16.6666666%;
}
  
.col-md-3{
  width: 25%;
}
  
.col-md-4{
  width: 33.333333%;
}
  
.col-md-5{
  width: 41.6666666%;
}
  
.col-md-6{
  width: 50%;
}
  
.col-md-7 {
  width: 58.333333333%;
}
    
.col-md-8 {
  width: 66.66666666%;
}
    
.col-md-9 {
  width: 75%;
}
    
.col-md-10 {
  width: 83.333333333%;
}
    
.col-md-11 {
  width: 91.666666667%;
}
  
.col-md-12{
  width: 100%;
}

.title{
  text-align: center;
}

.start-title h1{
  font-size: 30px;
  letter-spacing: 20px;
}

.news a.news-block{
  float: none;
  display: block;
}

.reviews-wrapper{
  max-width: 650px;
}

.services .tabs ul li{
  width: 33.33333%;
  margin-bottom:25px;
}

.about-studio .row{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-studio div.blockquote{
  width:100%;
}

.about-studio .p-section{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}

.about-studio .p-section div{
  width:50%;
}

}

@media(max-width: 767px){
  
.col-sm-1{
  width: 8.333333%;
}
    
.col-sm-2{
  width: 16.6666666%;
}
    
.col-sm-3{
  width: 25%;
}
    
.col-sm-4{
  width: 33.333333%;
}
    
.col-sm-5{
  width: 41.6666666%;
}
    
.col-sm-6{
  width: 50%;
}
    
.col-sm-7 {
  width: 58.333333333%;
}
      
.col-sm-8 {
  width: 66.66666666%;
}
      
.col-sm-9 {
  width: 75%;
}
      
.col-sm-10 {
  width: 83.333333333%;
}
      
.col-sm-11 {
  width: 91.666666667%;
}
    
.col-sm-12{
  width: 100%;
}

.start-title h1{
  font-size: 24px;
  letter-spacing: 20px;
}

#header .menu-nav {
	display:none;
}
	
#header .slicknav_menu {
	display:block;
}

.benefits p.benefits-text{
  text-align: center;
}

.reviews-wrapper{
  max-width: 480px;
}

.news.default-section{
  padding: 140px 0 50px 0;
}

.news-item{
  margin-bottom: 50px;
}

.contact-form input[name=user-email],
.submit-text{
  margin-bottom:10px;
}

.banner-img img{
  max-width: 550px;
}

.about-studio .row{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-studio div.blockquote{
  width:100%;
}

.about-studio .p-section{
  display:flex;
  flex-direction: column;
}

.about-studio .p-section div{
  width:100%;
}

}

@media(max-width: 576px){
  
.col-xs-1{
  width: 8.333333%;
}
      
.col-xs-2{
  width: 16.6666666%;
}
      
.col-xs-3{
  width: 25%;
}
      
.col-xs-4{
  width: 33.333333%;
}
      
.col-xs-5{
  width: 41.6666666%;
}
      
.col-xs-6{
  width: 50%;
}
      
.col-xs-7 {
  width: 58.333333333%;
}
        
.col-xs-8 {
  width: 66.66666666%;
}
        
.col-xs-9 {
  width: 75%;
}
        
.col-xs-10 {
  width: 83.333333333%;
}
        
.col-xs-11 {
  width: 91.666666667%;
}
      
.col-xs-12{
  width: 100%;
}

.services .tabs ul li{
  width: 50%;
}

.reviews-wrapper{
  max-width: 420px;
}

.banner-img img{
  max-width:300px;
}
}

@media(max-width:565px){

.start-title h1{
  font-size: 20px;
  letter-spacing: 10px;
}
  
.reviews-wrapper{
  max-width: 280px;
}
}

@media(max-width:450px){

input[type=email]{
  display: block;
  margin: 0 auto 20px auto;
}

.services .tabs ul li{
  width: 100%;
  margin-bottom: 35px;
}
}

@media(max-width:360px){

.block-icon{
  display: block;
  text-align: center;
  margin: 0 auto 20px auto;
}

.item-content{
  margin-bottom: 20px;
}
  
.reviews-wrapper{
  max-width: 250px;
}

.banner-img img{
  max-width:250px;
}
}